<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PrivateDoctor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2719D09D1EEBD9550089150A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2719D0B61EEBD9560089150A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2719D0C11EEBD9560089150A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
